<a href="https://colab.research.google.com/github/aarushijavale123/Projects/blob/main/exp_7_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Code 1:
my_set={1,2,3,4,5}
print(my_set)
for item in my_set:
  print(item)
my_set.add(6)
my_set.update([7,8,9])
print(my_set)
my_set.remove(3)
my_set.discard(10)
print(my_set)
del my_set

{1, 2, 3, 4, 5}
1
2
3
4
5
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 4, 5, 6, 7, 8, 9}

In [ ]:
#Code 2:
A={1,2,3,4,5}
B={4,5,6,7,8}
print("Insertion:",A&B)
print("Union:",A|B)
print("Difference(A-B):",A-B)
print("Symmetric Difference:",A^B)
A.clear()
print("Set after clear:",A)

Insertion: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference(A-B): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}
Set after clear: set()

In [ ]:
#Code 3:
set1={10,20,30}
set1.add(40)
set1.update([50,60])
print(set1)
set1.remove(30)
print(set1)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60}

In [ ]:
#Code 4:
A={1,2,3,4,5}
B={3,4,6,5,7}
diff=A-B
print(diff)

{1, 2}

In [ ]:
#Code 5:
String="hello!"
str_set=set(String)
print(str_set)

{'o', '!', 'h', 'l', 'e'}

In [ ]:
#Code 6:
set1={1,2,3,4}
set2={3,4,5,6}
common=set1&set2
if common:
  print("Sets have common elements:",common)
else:
  print("No common element")

Sets have common elements: {3, 4}